<ul id="social-menu">
    <li class="github"><a href="https://github.com/yourgithub"><span class="hidden">Github</span></a></li>
    <li class="twitter"><a href="https://twitter.com/yourtwitter"><span class="hidden">Twitter</span></a></li>
    <li class="gplus"><a href="https://plus.google.com/+yourgoogleplus/posts"><span class="hidden">Google+</span></a></li>
    <li class="facebook"><a href="https://www.facebook.com/yourfacebook"><span class="hidden">Facebook</span></a></li>
</ul>
